.check-id-contaier {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  label {
    padding: 0.1rem 1rem;
    height: 2.8rem;
    border: 0.1rem solid var(--primary-color);
    caret-color: var(--primary-color);
    border-radius: 0.5rem;

    input {
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: transparent;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }
}
#input-id-container {
  flex-grow: 1;
}
#input-zone-id-container {
  flex-grow: 1/4;
}
#result {
  width: 100px;
  height: 100px;
  grid-area: result;
}
