#input-username-container {
  flex: 1 1 200px;
}
#input-password-container {
  flex: 1 1 2;
}
#input-backup-code-container {
  flex: 2;
}
.note-link {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
