.package-container {
  margin: 1rem 0rem;
  header {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    opacity: 0.8;
    letter-spacing: 0.1rem;
  }
}
.package-wrapper {
  display: grid;
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 18rem));
  gap: 0.4rem;
  justify-content: center;
}
