.package-container {
  margin: 1rem 0rem;
}
.section-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.8;
  letter-spacing: 0.1rem;
}
.package-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(27svw, 25svw));
  gap: 0.4rem;
  justify-content: center;
}
