.section {
  margin: 20px 0px;
}
.section-header {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0px 0px 10px 15px;
  font-size: 24px;
  font-weight: bold;
}
.section-swiper {
  padding-left: 35px;
  padding-right: 20px;
}
.swiper-slide {
  width: fit-content !important;
  height: fit-content !important;
}
.game-card {
  position: relative;
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  div {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 6px;
    span {
      width: 80%;
      font-weight: bolder;
      backdrop-filter: blur(3px) brightness(0.9);
      border-radius: 12px;
      padding: 10px 12px;
      h1 {
        margin: 0;
        overflow: hidden;
        font-size: 13px;
        letter-spacing: 0.4px;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
