.swiper-slide {
  width: fit-content !important;
  height: fit-content !important;
}

.popular-game-section-header {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 15px 0px 20px 10px;
}
.popular-game-section-swiper {
  padding-left: 20px;
  padding-right: 20px;
}
.popular-game-section-header {
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

.game-card {
  position: relative;
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 6px;
    span {
      width: 80%;
      font-weight: bolder;
      backdrop-filter: blur(3px) brightness(0.9);
      border-radius: 12px;
      padding: 10px 12px;
      h1 {
        margin: 0;
        overflow: hidden;
        color: whitesmoke;
        font-size: 13px;
        letter-spacing: 0.4px;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
