.section {
  margin: 20px 0px;
}
.section-header {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0px 0px 10px 15px;
  font-size: 24px;
  font-weight: bold;
}
.section-swiper {
  padding-left: 35px;
  padding-right: 20px;
}
.swiper-slide {
  width: fit-content !important;
  height: fit-content !important;
}
