.game-info-form {
  gap: 0.1rem;
}
.package-input {
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
}
.update-btn {
  background-color: var(--primary-color);
  width: fit-content;
  font-size: 1.4rem;
  padding: 0.8rem 0.6rem;
  border-radius: 1rem;
  border: 0px;
  font-weight: 900;
  letter-spacing: 0.1rem;
  align-self: center;
}
