.nav-container {
  border-bottom: 1px solid white;
  display: flex;
  position: sticky;
  top: 3;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.icon-container {
  width: 56px;
  height: 56px;
  background-color: blue;
}
