.tab-bar-wrapper {
  position: fixed;
  bottom: -10px;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-bar {
  width: 60svw;
  height: 30svw;
  margin: auto;
  padding: 10px 5px;
  backdrop-filter: blur(100px);
  z-index: 10;
  border-radius: 30svw 30svw 0 0;
}
.tab-container {
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: 45deg;
  bottom: -35px;
  left: 15px;
}
.tab-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
  transform-origin: right center;
  width: 50%;
  background-color: var(--gray-color);
  border-radius: 25% 0px 0px 25%;
}

.tab {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 100%;
  overflow: hidden;
}
.tab-active {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  z-index: -1;
}
