.full-page-loader-wrapper {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-container {
  width: 50svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
