.topup-card {
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  .img-container {
    position: relative;
    width: 4rem;
    height: 4rem;
  }
  .info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.4rem;
    header {
      font-size: 1rem;
      font-weight: 900;
      letter-spacing: 0.03rem;
    }
    button {
      background-color: oklch(58.6% 0.253 17.585);
      border: 0;
      padding: 0.6rem 0.8rem;
      width: fit-content;
      border-radius: 2rem;
      font-size: 0.8rem;
      font-weight: 900;
      letter-spacing: 0.05rem;
      align-self: flex-end;
    }
  }
}
