.note-wrapper {
  margin: 1rem 1.5rem;
  header {
    font-weight: 900;
    letter-spacing: 0.2rem;
  }
}
.note-container {
  list-style-position: outside;
  font-weight: 600;
  margin: 0 0 0 1rem;

  padding: 0.8rem 1rem;
  li {
    list-style: disc;
  }
}
