input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
.select-file-container {
  width: 50svw;
  margin: auto;
}
.select-file-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.input-container {
  padding: 0.6rem 1rem;
  border: 0.15rem solid whitesmoke;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  .svg {
    width: 1.5rem;
  }
}
.submit-btn {
  width: fit-content;
  align-self: center;
  background-color: transparent;
  outline: none;
  border: 0.12rem solid var(--primary-color);
  padding: 0.6rem 1.4rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  cursor: pointer;
}
.submit-btn:active {
  background-color: var(--primary-color);
  color: whitesmoke;
  translate: 0rem -0.2rem;
  scale: 0.9;
}
.receipt-info-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.4rem;
}
.receipt-img-container {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
}
.receipt-filename {
  display: block;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
