.profile-container {
  padding: 1rem 0rem;
  width: 80svw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  .svg {
    width: 2.2rem;
  }
}

.info-cotaienr {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 0.8rem;
}

.menu-options-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 0.8rem;
  li {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
  }
  .svg {
    width: 1.8rem;
    fill: white;
    stroke-width: 0.02rem;
  }
}
