.empty-container {
  display: flex;
  flex: 1;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60svw;
  }
  .svg {
    stroke-width: 0;
    width: 90%;
  }
  p {
    text-align: center;

    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}
