.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .svg {
    stroke: var(--primary-color);
    stroke-width: 10px;
    width: 40svw;
    height: fit-content;
    aspect-ratio: 0;
  }
  .txt {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
}
