:root {
  --bg-color: #121212;
  --primary-color: #00bba7;
  --gray-color: #717171;
}
body {
  margin: 0;
  background-color: var(--bg-color);
}

* {
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  user-select: none;
}

/* .root > * {
  transition: all 0.3s linear;
} */

.svg {
  width: 28px;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: var(--bg-color);
}
.svg-lg {
  width: 32px;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: var(--bg-color);
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
