:root {
  --bg-color: #121212;
  --primary-color: #00bba7;
  --gray-color: #717171;
}
html {
  width: 100svw;
}
body {
  margin: 0;
  background-color: var(--bg-color);
}

* {
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* .root > * {
  transition: all 0.3s linear;
} */

/* mouse over link */
a {
  -webkit-tap-highlight-color: transparent;
}

.svg {
  width: 28px;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: var(--bg-color);
}
.svg-lg {
  width: 32px;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: var(--bg-color);
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 16px;
  background-color: black;
  font-weight: 900;
  font-size: 14px;
  .copyright {
    display: flex;
    align-items: center;
    gap: 2px;

    .svg {
      width: 20px;
    }
  }
}
