:root {
  --toastify-color-dark: #121212;
  --bg-color: #121212;
  --primary-color: #00bba7;
  --gray-color: #717171;
  --warning-color: #fe1d55;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}
#root {
  min-width: 100svw;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
.main-page-wrapper {
  flex-grow: 1;
  margin-bottom: 1rem;
}
* {
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* transition: all 0.1s linear; */
}
*::-webkit-scrollbar {
  display: none;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
p {
  margin: 0;
}
.svg {
  width: 1.6rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: whitesmoke;
  stroke-width: 0.1rem;
}
.svg-lg {
  width: 32px;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: whitesmoke;
}
.svg-xl {
  width: 38px;
  aspect-ratio: 1/1;
  cursor: pointer;
  stroke: whitesmoke;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
}
footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 16px;
  background-color: black;
  font-weight: 900;
  font-size: 14px;
  .copyright {
    display: flex;
    align-items: center;
    gap: 2px;

    .svg {
      width: 20px;
    }
  }
}
input {
  border: 0;
  outline: none;
}
ul {
  padding: 0rem;
}
li {
  list-style: none;
}
.wrapper {
  width: 90svw;
  margin: auto;
}
.Toastify__toast-container {
  top: 15svh;
  width: fit-content;
  margin-left: 0.3rem;
}
.Toastify__toast {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.2rem);
  border-radius: 0.3rem;
  padding: 1rem 2rem 1rem 1rem;
}
