.game-card {
  display: block;
  position: relative;
  width: 30svw;
  aspect-ratio: 1/1;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 6px;
    span {
      width: 80%;
      font-weight: bolder;
      backdrop-filter: blur(3px) brightness(0.6);
      border-radius: 12px;
      padding: 0.4rem 0.6rem;
      h1 {
        margin: 0;
        overflow: hidden;
        font-size: 0.6rem;
        letter-spacing: 0.4px;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
