.package-card {
  background-color: #71717154;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.2rem;
  overflow: hidden;
  &:has(input:checked) {
    background-color: #00bba8b0;
    .check-mark-container {
      top: -1rem;
      right: -2.2rem;
    }
  }
}
.package-info {
  display: flex;
  flex-direction: column;
  header {
    font-size: 1rem !important;
    font-weight: 900;
  }
  span {
    opacity: 0.6;
    font-size: 1rem;
  }
}
.check-mark-container {
  position: absolute;
  top: -3rem;
  right: -6.6rem;
  width: 6.4rem;
  height: 3.5rem;
  background-color: var(--primary-color);
  rotate: 45deg;
  z-index: 5;
  .svg {
    width: 2.2rem;
    position: absolute;
    left: 35%;
    bottom: 0rem;
    rotate: -45deg;
  }
}
.check-box-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
.package-img-container {
  position: relative;
  width: 5rem;
  height: 5rem;
}
