.receipt-wrapper {
  display: grid;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, 90%);
  justify-content: center;
  padding-top: 1rem;
  /* display: flex;
  flex-direction: column; */
  gap: 1rem;
  scroll-behavior: smooth;
}
