.tab-bar-wrapper {
  position: sticky;
  bottom: -1px;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
  background-color: black;
  backdrop-filter: blur(1.5px);
  padding: 0.8rem 0px 0.8rem 0px;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab {
  position: relative;
  background-color: transparent;
}
.tab-active {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 1.6rem 1.6rem 0.5rem 0.5rem;
  transition: linear !important;
}
