.tab-bar-wrapper {
  position: fixed;
  bottom: -10px;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
  backdrop-filter: blur(1.5px);
  padding: 10px 0px 20px 0px;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab {
  position: relative;
  background-color: transparent;
}
.tab-active {
  position: absolute;
  top: -12.5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 20px 20px 5px 5px;
  transition: linear !important;
}
